In [ ]:
import pandas as pd
import numpy as np

RAW_DATA_PATH = "./data/UNSW-NB15_?.csv" # replace ? with 1,2,3,4
FEATURE_PATH = "./data/NUSW-NB15_features.csv"

In [ ]:
# Read datasets (see README.md for source)

features = pd.read_csv(FEATURE_PATH, encoding='cp1252').drop(columns=['No.'])
column_names = list(features['Name'])
column_types = {}

# for some reason there is some weirdness columns like ports being in hexadecimal sometimes?
for ind, row in features.iterrows():
    typ = row['Type '].lower()
    if typ == 'nominal':
        column_types[row['Name']] = str
    elif typ == 'integer' or typ == 'timestamp' or typ == 'binary':
        column_types[row['Name']] = np.int64
    elif typ == 'float':
        column_types[row['Name']] = np.float64

dfs = []
for i in range(1,5):
    temp = pd.read_csv(RAW_DATA_PATH.replace('?', str(i)), names=column_names)

    dfs.append(temp)

raw_data = pd.concat(dfs)

# sport and dport are string instead of int because there are some weird entries 
# exclude rows with '-' ports and convert hex ports to int 
exclude_ind = []

for ind, d in raw_data.iterrows():
    if d['sport'] == '-' or d['dsport'] == '-':
        exclude_ind.append(ind)

raw_data = raw_data.drop(exclude_ind)

# convert the hex values to ints
def convert_to_int(v): 
    if type(v) == str:
        return int(v, 16)
    return v

raw_data['sport'] = raw_data['sport'].apply(convert_to_int)
raw_data['dsport'] = raw_data['dsport'].apply(convert_to_int)

In [ ]:
# DEBUG CODE

for j in dfs:
    zero_cnt = 0
    for i in j['Stime'].to_numpy():
        if i == 0: zero_cnt += 1

zero_cnt

###
for i in range(len(column_names)):
    print(f'{column_names[i]} - {dfs[0][column_names[i]].dtype} {dfs[1][column_names[i]].dtype} {dfs[2][column_names[i]].dtype} {dfs[3][column_names[i]].dtype}')


###
for c in column_names:
    print(f'Column {c} has type {raw_data[c].dtype}')

In [15]:
raw_data[200000:200020]

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
200009,59.166.0.0,2949,149.171.126.9,29041,tcp,FIN,0.014930,2438,20718,31,...,0,7,6,1,6,1,1,1,NaN,0
200010,59.166.0.0,48527,149.171.126.5,46573,tcp,FIN,0.041241,4238,65118,31,...,0,7,10,2,6,1,1,1,NaN,0
200011,59.166.0.4,16819,149.171.126.7,6881,tcp,FIN,3.600996,18510,788412,31,...,0,13,9,3,5,3,1,3,NaN,0
200012,59.166.0.0,39430,149.171.126.2,53,udp,CON,0.001044,130,162,31,...,0,1,5,4,6,1,1,1,NaN,0
200013,59.166.0.2,30440,149.171.126.2,5190,tcp,FIN,0.007004,1016,2782,32,...,0,7,3,4,6,1,1,1,NaN,0
200014,59.166.0.6,41873,149.171.126.2,80,tcp,FIN,1.154986,1287,9104,32,...,0,3,2,4,4,1,1,1,NaN,0
200015,59.166.0.0,12511,149.171.126.4,11561,tcp,FIN,0.063037,2438,20718,31,...,0,7,4,3,6,1,1,1,NaN,0
200016,59.166.0.2,21245,149.171.126.4,10866,tcp,FIN,0.532175,8928,320,31,...,0,2,2,3,6,1,1,2,NaN,0
200017,59.166.0.6,11772,149.171.126.8,9785,tcp,FIN,0.078960,3302,40550,31,...,0,2,8,3,4,1,1,2,NaN,0
200018,59.166.0.4,12267,149.171.126.5,143,tcp,FIN,0.312748,7816,15876,31,...,0,13,10,2,5,1,1,1,NaN,0
200019,59.166.0.8,45729,149.171.126.0,5190,tcp,FIN,0.009226,1920,4312,31,...,0,1,4,4,2,1,1,1,NaN,0
200020,149.171.126.8,55721,59.166.0.0,54847,tcp,FIN,0.343183,2760,2240,29,...,0,1,1,1,1,1,1,1,NaN,0
200021,59.166.0.2,56864,149.171.126.8,55002,tcp,FIN,0.052769,4238,65118,31,...,0,7,8,3,6,1,1,1,NaN,0
200022,59.166.0.2,57491,149.171.126.6,27031,tcp,FIN,0.016028,2438,20718,31,...,0,7,4,1,6,1,1,1,NaN,0
200023,59.166.0.8,12176,149.171.126.1,80,tcp,FIN,1.358232,1580,10168,31,...,0,1,2,4,2,1,1,1,NaN,0
200024,59.166.0.4,9614,149.171.126.0,53,udp,CON,0.001067,130,162,31,...,0,2,1,4,5,1,1,1,NaN,0
200025,59.166.0.6,10254,149.171.126.8,4314,tcp,FIN,0.042019,3614,49342,31,...,0,2,8,3,4,1,1,2,NaN,0
200026,59.166.0.1,55147,149.171.126.1,80,tcp,FIN,1.006639,1684,10168,31,...,0,2,2,4,2,2,1,1,NaN,0
200027,59.166.0.0,39539,149.171.126.0,19012,tcp,FIN,0.191054,8712,208,31,...,0,6,4,4,6,1,1,2,NaN,0
200028,59.166.0.6,50484,149.171.126.1,53,udp,CON,0.001116,146,178,31,...,0,3,3,4,4,1,1,1,NaN,0